@import '../../../_mixins.scss';

.tasks-group {
  &-header {
    // TODO: dopasować ten kolor tła do siebie
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 10px;
    justify-content: space-between;
    padding-top: 2px;
    margin-top: 7px;
    background: #ecf1fd;
    height: 40px;
  }
  &-main {
    background-color: #ecf1fd;
    box-sizing: border-box;
  }

  @include workspaceElement;

  &-name {
    margin-left: 2px;
    margin-top: 1px;
  }
  &-actions {
    margin-top: 0;
  }
}
