@import '../../_mixins.scss';

.workspace {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  margin-right: 2px;

  & > .tasks-group {
    margin-left: 18px;
    width: 294px;
    background: #ecf1fd;
    background: #ecf1fd;
    height: fit-content;
    border-radius: 8px;
    padding: 8px 0;
    height: 32px;
  }

  .button {
    border: none;
    background: #ecf1fd;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: #88819f;
  }
}
