@mixin workspaceElement {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &-name {
    display: inline-block;
    font-weight: 600;
    margin-top: 7px;
    font-size: 13px;
  }
  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-actions {
    margin-top: 7px;
    display: flex;
    & > *:first-child {
      margin-right: 10px;
    }
  }
}
